@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Setup -->
@{
    // Get the pageName from ViewData
    var pageName = ViewData["pageName"] as string;

    // Select the GUID of the blog to display based on the page name
    var blogSelectionGuid = Guid.Parse(pageName switch
    {
        "Herrar" => "f12d0f8c-875f-4189-955f-e202cca8b6e5",
        "Damer" => "6a4be89c-2f9a-46c5-86b6-120f8e7d0a49",
        _ => "" // Will cause crash - maybe default to one of the above?
    });

    var blogSelection = Umbraco.Content(blogSelectionGuid)
        .ChildrenOfType("blogEntry")
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate);
}

<!-- Render content -->
<h2>@Model.Name's blogg</h2>
<ul class="list-unstyled">
    @foreach (var item in blogSelection)
    {
        var date = item.Value("blogDate") as DateTime?;
        var shortDateString = date is not null ? date.Value.ToShortDateString() : "";
        <li>
            <h2><a href="@item.Url()">@item.Value("blogTitle")</a></h2>
            <p>@item.Value("blogContent")</p>
            <p><small>Publicerat av @item.CreatorName() @shortDateString</small></p>
        </li>
    }
</ul>