@using System.Globalization;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Setup -->
@{
    const string CURRENT_CULTURE = "sv-SE";

    // Get the pageName from ViewData
    var pageName = ViewData["pageName"] as string;

    // Select the GUID of the blog to display based on the page name
    var blogSelectionGuid = Guid.Parse(pageName switch
    {
        "Herrar" => "f12d0f8c-875f-4189-955f-e202cca8b6e5",
        "Damer" => "6a4be89c-2f9a-46c5-86b6-120f8e7d0a49",
        _ => "" // Will cause crash - maybe default to one of the above?
    });

    var blogSelection = Umbraco.Content(blogSelectionGuid)!
        .ChildrenOfType("blogEntry")!
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate);

    var blogTitle = Umbraco.Content(blogSelectionGuid)!.Value("blogTitle");
}

<!-- Render content -->
<h2>@blogTitle</h2>
<ul class="list-unstyled">
    @foreach (var item in blogSelection)
    {
        <li>
            <h3><a href="@item.Url()">@item.Value("blogTitle")</a></h3>
            <p>@item.Value("blogContent")</p>
            <p><small>Publicerat av @GetAlias(item) @GetDate(item)</small></p>
        </li>
    }
</ul>

<!-- Support methods -->
@{
    string GetDate(IPublishedContent item)
    {
        var date = item.Value("blogDate") as DateTime?;

        if (date == default(DateTime))
        {
            date = item.CreateDate;
        }

        var culture = new CultureInfo(CURRENT_CULTURE);

        return date.HasValue
            ? date.Value.ToString("yyyy-MM-dd HH:mm", culture)
            : "";
    }

    string GetAlias(IPublishedContent item)
    {
        var creatorAlias = item.Value("blogEntryAlias") as string;

        if (string.IsNullOrEmpty(creatorAlias))
            creatorAlias = item.CreatorName() ?? "";

        return creatorAlias;
    }
}