@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider


@{ var menuItems = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray(); }

<nav class="navbar navbar-expand-lg navbar-light secondary-background px-2 shadow fixed-top">
  <div class="container-fluid mx-xl-3">
      <div id="logo">
          @{
                var mediaItem = Umbraco.Media(Guid.Parse("9568de9e-7d3d-4a76-bf22-9d9dab153d2f"));
                if (mediaItem != null)
                {
                    var url = mediaItem.Url();
                    var rootUrl= Model.Root().Url();
                    <a href="@rootUrl"><img src="@url" alt="@mediaItem.Name" class="logotype"/></a>
                }
            }
      </div>
    <div class="d-flex justify-content-end">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-5 mb-2 mb-lg-0">
                @if (menuItems?.Length > 0)
                {
                
                    @foreach (var item in menuItems)
                    {
                    @if(item is LoginPage) continue;
                        <li class="nav-item mx-1">
                            <a class="nav-link active header" aria-current="page" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                        </li>
                    }
                }
            </ul>
            <a href="/logga-in/"><button class="btn btn-primary" type="submit">Logga in</button></a>
        </div>
    </div>
    <button onClick="toggleLogo()" class="navbar-toggler align-self-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!--SCRIPTS-->
<script>
    // Define the function
    function toggleLogo() {
        let logo = document.getElementById("logo");
        logo.style.display = logo.style.display === "none"?  "inline-block":"none";
    }
</script>